/* はてなブログのBrooklynテーマのサイドバーに配置するとだいたい合うサイズ感 */

/* チップボタンリスト用 */
.prof section{
display:none;
}

/* tippin.me用 */
tippin-button
#tippin-button{
display:block;
width:200px;
}

/* メアド表示案内部用 */
#amazon #data{
display:block;
width:180px;
}

/* メアド表示パーツ用 */
#getaddress{
line-height: 1.6;
padding: 0;
vertical-align: baseline;
margin: 0;
border: solid 7px #f4f4f4;
width: 280px;
max-width: 90%;
height: 45px;
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2) inset;
outline: none;
box-sizing: border-box;
}

/* メアド表示窓用 */
#maildisplay{
font-size:80%;
line-height: 1.6;
margin: 0;
border: 0;
vertical-align: baseline;
float: left;
padding-top: 0.5em;
padding-left: 0.5em;
padding-right: 0.5em;
padding-bottom: 0.1em;
outline: none;
box-sizing: border-box;
}

/* メアドコピーボタン用 */
.copybutton{
font-size:80%;
float: right;
width: 45px;
height: 30px;
outline: none;
box-sizing: border-box;
}

/* チップボタン全般画像用 */
.sideimg{
 border: 1px solid #B3B3B3;
 border-radius: 6px;
}
.sideimg:hover {
    position:relative;
    left: 1px;
}

/* metamaskのボタン用 */
pay-button
.pay-button {
display:inline-block;
    width: 160px;
    padding:0;
    margin:0;
background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
-webkit-appearance: none;
appearance: none;
}

/* metamaskのボタン画像用 */
.tip-button{
display:inline-block;
width:160px;
height:47px;
background-image:url('ボタン画像');
}

/* 起動に時間かかりがちなので動きを付けておいた方がいい */
.tip-button:hover {
  background-image: url('ボタン画像');
}
.tip-button:active {
  background-image: url('ボタン画像');
 }